<% include ./partials/head %>

<h1>Index Page</h1>
<div class="row">
  <div class="col-lg-6 mx-auto">
    <div class="card mt-4 mx-auto">
      <form action="/rzp-order" method="post">
        <div class="form-group">
          <label for="exampleFormControlInput1">Amount: </label>
          <input type="text" class="form-control" name="amount" placeholder="amount" />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">ID: </label>
          <input type="text" class="form-control" name="id" placeholder="id" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Confirm and Pay</button>
        <a class="btn btn-secondary mt-2" href = "/all">View All Payments</a>
      </form>
    </div>
  </div>
</div>

<% include ./partials/footer %>