<% include ./partials/head %>
<h1>Transaction Successfull!!</h1>
<div class="row">
  <div class="col-lg-6 mx-auto">
    <div class="card mt-4 mx-auto">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>
            Payment ID: <%=data.razorpay_payment_id%></strong>
        </li>
        <li class="list-group-item">
          <strong>
            Order ID: <%=data.razorpay_order_id%></strong>
        </li>
        <li class="list-group-item">
          <strong>
            Signature: <%=data.razorpay_signature%></strong>
        </li>
      </ul>
      <a href="/" class="btn btn-primary mt-2" title="Home">Home</a>
    </div>
  </div>
</div>

<% include ./partials/footer %>